<br><%= flash[:notice] %>
<h1 style="color: #ffffff;">Log in</h1>

<div>
  <div style="color: #ffffff;">
    <%= form_for(:session,url:login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <a><%= f.submit "Log in" %></a>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", '/users/new' %></p>
  </div>
</div>
