<h1 class="text-muted">TIMEBOOK</h1>
<p class="text-primary"><%= current_user.name %><%= "のフィード" %></p>
<div class="container-fluid">
<div class="container-fluid">
    <% @contents.each do |f| %>
<div class="container-fluid">
       <P class="text-info"> <%= f.user.name %></p>
       <p class="text-info"><%= f.name %></p>
       <div><%= image_tag f.image_posting_url(:thumb),  width: "400px", height: "300px" %></div>
       <p class="text-info"><%= f.note %></p>
</div>
    <% end %>
</div>
</div>
