<h1 style="color: #ffffff;">登録者一覧</h1>
<%= link_to "新規作成", :controller => "users", :action => "new" %>
<table class="table" style="color: #ffffff;">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>email</th>
      <th colspan="3"></th>
    <tr>
  </thead>
  <br>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.image_user_url(:thumb) %>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><% if user.id ==current_user.id %>
              <%= link_to "edit", edit_user_path(user) %>
            <% end %></td>
        <td><% if user.id ==current_user.id %>
              <%= link_to "delete", user, method: :delete %>
            <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

