<h1>新規作成画面</h1>
<%= form_for(@user, url: {:controller => :users, :action => :create}) do |f| %>
  <% if @user.errors.any? %>
    <div>
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>

        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <div>
    <%- f.label :image_user %><br>
    <%= f.file_field :image_user %>
  </div>
  <div>
    <%= f.submit %>
  </div>

<% end %>
