<h1>新規作成画面</h1>
<%= form_for(@user, url: {:controller => :users, :action => :create}) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.submit %>
  </div>

<% end %>
