<h1>投稿作成</h1>
<%= form_for(@posting, url: {:controller => :postings, :action => :create}) do |f| %>

  <div>
    <%= f.label :user_id %><br>
    <%= f.collection_select  :user_id, @users, :id, :name  %>
  </div>
  <div>
    <%- f.label :image_posting %><br>
    <%= f.file_field :image_posting %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>
  <div>
    <%= f.submit %>
  </div>

<% end %>
