<h1 style="color: #ffffff;">投稿作成</h1>

<%= flash[:notice] %>

<%= form_for(@posting, url: {:controller => :postings, :action => :create}) do |f| %>
  <% if @posting.errors.any? %>
    <div>
      <h2><%= pluralize(@posting.errors.count, "error") %> prohibited this posting from being saved:</h2>
      <ul>

        <% @posting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <a style="color: #ffffff;"><%= current_user.name %></a><br>
  </div>
  <br>
  <div>
    <a style="color: #ffffff;"><%= f.label :image %></a>
    <%= f.file_field :image_posting %>
  </div>
  <br>
  <div>
    <a style="color: #ffffff;"><%= f.label :title %></a>
    <p><%= f.text_field :name %></p>
  </div>
  <div>
    <a style="color: #ffffff;"><%= f.label :note %></a>
    <p><%= f.text_area :note, cols: "30", rows: "6" %></p>
  </div>
  <br>
  <div>
    <%= f.submit %>
  </div>

<% end %>
