<!DOCTYPE html>
<html>
<head>
  <title>Timebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style = "background-color: #dcdcdc">
<%= link_to 'TOP page','/top_page/index'%>
<%= link_to 'User','/users/index'%>
<%= link_to 'Posting','/postings/index'%>
 <div style = "float: right;">
   <% if logged_in? %>
     <%= link_to "Log out", logout_path, method: :delete, :data => {:confirm => '本当にログアウトしますか？'} %>
   <% else %>
     <%= link_to "Log in", login_path %>
   <% end %>
</div>
<%= yield %>

</body>
</html>
